.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--shadow-color-strong);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    font-weight: bold;
    flex-wrap: wrap;
}

.form-group label {
    flex-basis: 100%;
    padding: 10px;
}

.form-group input {
    flex-grow: 1;
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    align-content: center;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    text-align: center;
    color: var(--danger-color);
}